.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #E1E5F2;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-container p{
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo {
  width: 46px;
  height: 46px;
  object-fit: contain;
  border-radius: 12px;
}

.brand-name {
  font-weight: 600;
  font-size: 18px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}

.profile:hover {
  transform: scale(1.1);
}
